<div class="features__wrap container"
     [ngSwitch]="this.scanService.scanCategories[this.scanService.scanCategories.length - 1].loading == true && this.scanService.scanCategories[this.scanService.scanCategories.length - 1].grade != undefined">
  <div class="line">
    <span></span>
    <span class="sml-line"></span>
  </div>
  <div *ngSwitchCase="false">
    <h2>Scannen Website - {{this.scanService.website}}</h2>
    <div class="vwrap">
      <div class="vmove">
        <div class="vslide">
          <p>62% van alle websites worden gehost op WordPress.</p>
        </div>
        <div class="vslide">
          <p>XSS en Injection zijn de meest voorkomende website aanvallen.</p>
        </div>
        <div class="vslide">
          <p>Get Big Marketing bied gratis advies aan voor je bedrijf over websites.</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngSwitchCase="true">
    <h2>Scannen Website - {{this.scanService.website}} - Voltooid</h2>
    <input type="submit" value="Mail Uitgebreide Resultaten" aria-label="Verzenden" (click)="mailResults()">
  </div>


    <div class="features__card">
      <div class="features__card--box" *ngFor="let scanCategory of this.scanService.scanCategories">
        <div class="features__card--box--img">
          <div class="circle">
            <span></span>
            <span></span>
          </div>
          <h4 [style.color]="scanCategory.grade == undefined ? 'initial' : (scanCategory.grade <= 6 ? 'green' : 'red')">
            {{scanCategory.grade != undefined ? scanCategory.grade + "/10" : "?/10"}}
          </h4>
        </div>
        <h4>
          {{scanCategory.title}}
        </h4>
        <div *ngIf="scanCategory.loading == true && scanCategory.grade == undefined" class="loading-bar"></div>
      </div>
    </div>
  </div>



