<section class="execute-area">
  <div class="container">
    <div class="row align-items-center  ">
      <div class="col-lg-12 col-md-12">
        <div class="execute-left  ">
          <div class="line">
            <span></span>
            <span class="sml-line"></span>
          </div>
          <h2>Gratis Online Scan</h2>
          <p>Wil jij weten waar de kansen liggen voor jouw bedrijf? Vraag dan een gratis scan aan.</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12">
        <div class="execute-right ">
          <form method="post" class="hf-form hf-form-933 " data-id="933" data-title="Gratis Scan Aanvragen" data-slug="gratis-scan-aanvragen" data-message-success="Bedankt! We nemen z.s.m. contact met je op." data-message-invalid-email="Dit email-adres lijkt niet te kloppen." data-message-required-field-missing="Vul de vereiste velden in." data-message-error="Er is een fout opgetreden."><input type="hidden" name="_hf_form_id" value="933"><div style="display: none;"><input type="text" name="_hf_h933" value=""></div><div class="hf-fields-wrap"><div class="form-row">
            <div class="form-column"> <input required="" type="text" name="naam" placeholder="Naam *" class="bg1" aria-label="Naam"></div>
            <div class="form-column"><input required="" type="email" name="email" placeholder="Email *" class="bg2" aria-label="Email"></div>
            <div class="form-column"><input required="" type="text" name="URL" value="Website" aria-label="Website">
            </div>
            <div class="form-column">
              <select name="TYPE_SCAN" required="" id="gratis-scan-aanvragen-TYPE_SCAN" aria-label="Onderwerp Kiezen">
                <option disabled="" selected="" value=""> Kies Onderwerp</option>
                <option value="Algemeen">Algemeen</option>
                <option value="SEO">SEO</option>
                <option value="Webdesign">Webdesign</option>
                <option value="Branding">Branding</option>
                <option value="Security">Security</option>
              </select></div>
            <div class="form-column"><input type="submit" value="GRATIS SCAN AANVRAGEN" aria-label="Verzenden"></div>
          </div>
            <noscript>Activeer JavaScript om gebruik te maken van dit formulier.</noscript></div></form>
        </div>
      </div>
    </div>
  </div></section>
